body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #614385 , #516395);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  color: white;
}
.main-left{
  /* width: 60rem; */
  margin-top: 0.6rem;
}
.main-left-up{
  display: flex;
  justify-content: space-between;
}
.time{
  margin-top: 1rem;
  margin-left: -10rem;
}
.time h3{
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
 padding: 0.6rem;

}
.left-block{
  margin-top: -4.5rem;
  margin-left: 1.8rem;
  padding: 0.6rem;
  height: 15rem;
}
.ques-count{
  margin-top: 5.5rem;
  margin-left: 5rem;
  font-size: 140%;
  width: 12rem;
  border-radius: 50px;
  padding: 0.6rem;
  height: 1.5rem;
  border: 2.2px solid rgb(9, 97, 151);
  background: rgb(51, 118, 160);
  padding-bottom: 0.8rem;
}
.ques-font{
  border: 2.2px solid black;
  border-radius: 10px;
  padding: 0.6rem;
  padding-top: 1rem;
  height: 7rem;
  font-size: 180%;
  width: 78rem;
  background: #662D8C;
  text-align: center;
}
.options{
  margin-left: 2rem;
  margin-right: 4rem;
}
.option-up{
  display: flex;
}
.option-down{
  display: flex;
}
.option-font{
  width: 60rem;
  height: 2.8rem;
  background: rgb(233, 39, 207);
  border: 2px solid black;
  border-radius: 20px;
  margin: 0.9rem;
  padding: 0.6rem;
  font-size: 170%;
}
.option-font:hover{
  cursor: pointer;
  background: rgb(150, 26, 133);

}
hr {
  transform: rotate(90deg);
  background-color: black;
  height: 2.2rem;
  width: 0.5rem;
  border: none;
  margin-top: 1.68rem;
}
.btn-save{
  margin-left: 32.5rem;
  margin-top: 2rem;
  padding: 0.6rem;
  border-radius: 20px;
  width: 15rem;
  font-size: 150%;
  height: 3.5rem;
  background:rgb(114, 238, 97);
  color: black;
  border: none;
  border: 2.5px solid rgb(7, 105, 7);
}
.btn-quit{
  margin-top: 1.5rem;
  margin-right: 2rem;
  padding: 0.6rem;
  border-radius: 20px;
  width: 9rem;
  height: 3.5rem;
  color: black;
  font-size: 150%;
  background:rgb(241, 85, 85);
  border: 2.5px solid rgb(122, 8, 8);
}
.btn-quit:hover{
  background: rgb(243, 16, 16);
  cursor: pointer;
  color: white;
}
.btn-save:hover{
  background: rgb(22, 158, 4);
  cursor: pointer;
  color: white;
}
input:hover{
  cursor: pointer;
}


/* assessment */

.assessment-heading{
  text-align: center;
  color: rgb(201, 247, 36);
}
.score-up{
  display: flex;
  margin-left: 10rem;
}
.score-fig h2{
  font-size: 300%;
  text-align: center;
  margin-left: -3rem;
  margin-top: 2rem;
}
.score-head{
  margin-top: 4rem;
  margin-left: -2rem; 
  text-align: center;
  font-size: 200%;
  letter-spacing: 1px;
  margin-top: -2rem;
}
.score-up-left img{
  margin-left: 22rem;
}
.score-up-right{
  margin-top: 1.2rem;
  margin-left: 2.2rem;
}
.score-down{
  display: flex;
  justify-content: space-around;
  margin-top: 3.5rem;
}
.attempted,.accuracy,.unattempted{
  width: 17rem;
  height: 6rem;
  padding: 0.6rem;
  padding-top: 1rem;
  border: 2px solid black;
  border-radius: 20px;
  background-image: linear-gradient(to right, #764BA2 , #667EEA);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.attempted:hover{
  transform: rotate(-25deg);
}
.unattempted:hover{
  transform: rotate(-25deg);
}
.accuracy:hover{
  transform: rotate(-25deg);
}
.attempted h3 ,.unattempted h3 ,.accuracy h3{
  text-align: center;
  font-size: 180%;
  margin-top: -0.5rem;
}
.attempted p {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 150%;
  letter-spacing: 1px;

}
.unattempted p{
  margin-top: 0.2rem;
  text-align: center;
  font-size: 150%;
  letter-spacing: 1px;
}
.accuracy p {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 150%;
  letter-spacing: 1px;
}
.reattempt{
  padding: 0.6rem;
  border-radius: 20px;
  width: 12rem;
  height: 3.5rem;
  color: black;
  font-size: 150%;
  background:rgb(77, 236, 197);
  border: 2.5px solid rgb(49, 136, 114);
  margin-top: 4rem;
  margin-left: 37rem;
  letter-spacing: 0.5px;
}
.reattempt:hover{
  background: rgb(7, 214, 163);
  cursor: pointer;
  color: white;
}

/* startpage */

.start-head{
  text-align: center;
  color: white;
  font-size: 200%;
  margin-top: -1.2rem;
  letter-spacing: 0.5px;
}
.rule-head{
  margin-left: 5rem;
  color: white;
  font-size: 180%;
  margin-top: -1.2rem;
}
.rules-num{
  margin-left: 10rem;
  color: white;
}
.rules-num ul li{
  margin-top: 0.9rem;
  font-size: 150%;
  list-style: none;
}
.start-btn{
  padding: 0.6rem;
  border-radius: 20px;
  width: 13rem;
  height: 3rem;
  color: black;
  font-size: 120%;
  background: rgb(52, 241, 147);
  border: 2.5px solid rgb(49, 136, 114);
  margin-top: 1.5rem;
  margin-left: 35rem;
  letter-spacing: 0.5px;
  font-size: 150%;
  /* font-weight: bolder; */
}
.start-btn:hover{
  background:rgb(35, 233, 68);
  cursor: pointer;
  color: white;
}


